body {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    background-image: url('../images/background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }

.left-column {
  display: inline;
  flex-direction: column;

  img {
    height: 40px;
    width: 40px;
    padding-left: 5px;
    padding-top: 5px;
  }
}

.music {
  z-index: 999;
  position: fixed;
  width: 160%;
  bottom: 60px;
  margin-left: 1110px;
}

.windows {
  display: inline;
  align-items: flex-start;
  flex-wrap: nowrap;
  img {
    height: 40px;
    width: 40px;
  }
}

.launcher {
  display: inline;
  justify-content: center;
  flex-wrap: nowrap;
  padding-left: 44vw;

  img {
    height: 40px;
    width: 40px;
    padding-top: 4px;
  }
}

.center{
  display: inline;
}

.frame {
border: 5px solid #6c5d4b;
background-color: #899877;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
margin-left: 15vw;
margin-right: 15vw;

h1 {
  padding-top: 100px;
  padding-bottom: 200px;
  font-size: 50px;
  text-align: center;
  color: #38291e;
}
.start {
  display: block;
  justify-content: center;
  border: 5px solid #526935;
  background-color: #637F40;
  color: #38291e;
  font-size: 30px;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
}

.frame-2 {
  border: 5px solid #6c5d4b;
  background-color: #899877;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15vw;
  margin-right: 15vw;
  
  .welcome {
    padding-top: 10px;
    font-size: 50px;
    text-align: center;
    color: #38291e;
    
  }
}

.center {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  img{
    height: 312px;
    width: 683px;
    margin-left: 280px;
  }
  padding-bottom: 50px;

  .narrator-1{
      border: 5px solid #8c7962;
      background-color: #a7b892;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
      margin-right: 285px;
      text-align: center;
      color: #38291e;
  }

  .to-do{
    border: 5px solid #8c7962;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 200px;
    margin-right: 100px;
    padding: 30px;
    font-size: 12px;

    li {
      margin: 20px;
    }
}

  .narrator-2{
    border: 5px solid #8c7962;
    background-color: #a7b892;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 200px;
    margin-left: 20px;
    padding: 50px;
    text-align: center;
    text-indent: 10px;
    color: #38291e;
    font-size: 12px;
}
}

.bottom-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.back {
  display: block;
  justify-content: center;
  border: 5px solid #526935;
  background-color: #637F40;
  color: #38291e;
  font-size: 30px;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.next {
  display: block;
  justify-content: center;
  border: 5px solid #526935;
  background-color: #637F40;
  color:#38291e;
  font-size: 30px;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.center-buttons{
  margin: 20px;
.mobs {
  display: block;
  justify-content: center;
  border: 5px solid #526935;
  background-color: #637F40;
  color: rgb(0, 0, 0);
  font-size: 30px;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}

.food {
  display: block;
  justify-content: center;
  border: 5px solid #526935;
  background-color: #637F40;
  color: rgb(0, 0, 0);
  font-size: 30px;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 15px;
}

.items {
  display: block;
  justify-content: center;
  border: 5px solid #526935;
  background-color: #637F40;
  color: rgb(0, 0, 0);
  font-size: 30px;
  cursor: pointer;
  font-family: "Press Start 2P", system-ui;
  text-align: center;
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 10px;
}
}

.center-2{
display: flex;
flex-direction: column;
text-align: center;
padding: 20px;
}

.examples{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 50px;
  img{
    height: 64px;
    width: 64px;
    margin-left: 50px;
    margin-right: 50px;
  }
}